<nz-layout class="layout">
  <nz-header style="padding: 0;">
    <doe-header></doe-header>
  </nz-header>
  <nz-content>
    <div class="content" nz-flex nzJustify="space-around" nzAlign="start">
      <div class="me">
        <nz-affix [nzOffsetTop]="72">
          <doe-me></doe-me>
        </nz-affix>
      </div>
      <div class="basic">
        <router-outlet></router-outlet>
      </div>
      <div class="other">
        <nz-affix [nzOffsetTop]="72">
          <doe-other></doe-other>
        </nz-affix>
      </div>
    </div>
  </nz-content>
  <nz-footer>
  </nz-footer>
</nz-layout>