.blog {
    width: 100%;
    padding: 24px;
    background-color: #fff;
    margin-bottom: 24px;
    cursor: pointer;
}

.content {}

.basic {
    width: 50%;
    background-color: #EEEEEE;
}

.me {
    width: 22%;
    min-height: 40vh;
}

.other {
    width: 22%;
    min-height: 30vh;
}

h1 {
    font-weight: 400;
    font-size: 30px;
}

.title {
    background-image: linear-gradient(to right,
            #54b3d6,
            #54b3d6 50%,
            #000 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.title:before {
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.title:hover {
    background-position: 0;
}

.title:hover::before {
    width: 100%;
}