.other {
    width: 100%;
    padding: 24px;
    background-color: #fff;
}

.tag {
    width: 100%;
    margin-top: 24px;
    padding: 24px;
    background-color: #fff;
}

.count {
    font-size: 28px;
    margin-bottom: 4px;
}