<div @SlowUp class="other card">
    <h5 nz-typography>最新自言自语</h5>
    <p nz-typography>1234</p>
</div>
<div @SlowUp class="tag card" nz-flex nzJustify="center" [nzVertical]=" true">
    <h5 nz-typography nz-flex nzAlign="center" nzGap="small">文章
        <span class="count">{{data.blogCount}}</span> 篇
    </h5>
    <nz-list>
        @for (item of data.blogTagList; track item) {
        <nz-list-item>
            <span nz-typography>{{item.tag}}</span>
            <nz-tag>{{ item.tagCount }}</nz-tag>
        </nz-list-item>
        }
    </nz-list>
</div>
<div @SlowUp class="tag card" nz-flex nzJustify="center" [nzVertical]=" true">
    <h5 nz-typography nz-flex nzAlign="center" nzGap="small">相册
        <span class="count">{{data.picCount}}</span> 张
    </h5>
    <nz-list>
        @for (item of data.picTagList; track item) {
        <nz-list-item>
            <span nz-typography>{{item.tag}}</span>
            <nz-tag>{{ item.tagCount }}</nz-tag>
        </nz-list-item>
        }
    </nz-list>
</div>