.title {
    margin: 10px;
    padding: 12px 0 12px 0px;
    height: 70px;
    min-height: 70px;
    width: 100vw;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.23;
    color: #8B4513
}

.title_box {
    width: 100%;
}